@font-face {
  font-family: 'thumbgrid';
  src: url('thumbgallery-font/font/thumbgallery.eot?44954952');
  src: url('thumbgallery-font/font/thumbgallery.eot?44954952#iefix') format('embedded-opentype'),
  url('thumbgallery-font/font/thumbgallery.woff?44954952') format('woff'),
  url('thumbgallery-font/font/thumbgallery.ttf?44954952') format('truetype'),
  url('thumbgallery-font/font/thumbgallery.svg?44954952#thumbgrid') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

.tg-container{
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  margin: 20px auto;
  overflow: hidden;
}

.thumb-grid {
  position: absolute;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.thumb-grid img {
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

.thumb-grid.active img {
  opacity: 1;
}

.thumb-grid li {
  position: relative;
  margin: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  float: left;
}

.thumb-grid li:hover:after {
  font-family: "thumbgrid";
  content: '\e804';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  font-size: 25px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: block;
  line-height:170%;
  text-align: center;
  z-index: 1;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.50);
}

.thumb-grid li img {
  width: 100%;
  height: auto;
  transition:All 1s ease;
  -webkit-transition:All .3s ease;
  -moz-transition:All .3s ease;
  -o-transition:All .3s ease;
}

.thumb-grid li:hover img {
  transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.3) skew(0deg) translate(0px);
  opacity: .65;
}

.thumbWrapper {
  cursor: pointer;
}

/* Navigation */

nav.thumbGridNav {
  margin-top: 60px;
  text-align: center;

}

nav.thumbGridNav a {
  display: inline-block;
  margin: 0 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  overflow: hidden;
  text-indent: -1000px;
  cursor: pointer;
}

nav.thumbGridNav a:hover {
  opacity: 1;
}

nav.thumbGridNav a.sel {
  opacity: .2;
  width: 18px;
  height: 18px;

}

nav.thumbGridNav.waiting a.sel {
  background: rgba(239, 239, 239, 0.5);
  opacity: 1;
  border: 0;
}
nav.thumbGridNav.waiting a:not(.sel) {
  opacity: .1;
  cursor: default;
}



.tg-overlay {
  transition:All 2s ease;
  -webkit-transition:All .3s ease;
  -moz-transition:All .3s ease;
  -o-transition:All .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10000;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.tg-placeHolder {
  background: rgb(30, 33, 35);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}


.tg-placeHolder div{
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.tg-close {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: right;
  color: rgba(255,255,255,1);

}

.tg-next {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,.6);
  cursor: pointer;
  text-align: right;
}

.tg-prev {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,.6);
  cursor: pointer;
  text-align: left;
}

.tg-close:after {
  content: '\e80c';
  font-family: "thumbgrid";
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
  padding-right: 0;
  line-height: 1;

}

.tg-next:after {
  content: '\e80d';
  font-family: "thumbgrid";
  font-size: 38px;
  font-weight: 300;
  padding-right: 0;
  line-height: 42px;
}

.tg-prev:after {
  content: '\e80e';
  font-family: "thumbgrid";
  font-size: 38px;
  font-weight: 300;
  padding-left: 0;
  line-height: 42px;
}

.tg-prev:hover, .tg-next:hover{
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
}

.tg-close:hover{
  color: rgba(0,0,0,1);
  background-color: #fff;
}

.tg-spinner{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

.tg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  margin-left: 0%;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.tg-img-wrapper label{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  padding: 10px;
}

.tg-img-wrapper label .ss-img-index{
  display: inline-block;
  color: rgba(255,255,255,0.5);
  padding: 0 10px 5px 0;
  font-weight: 300;
}

@media (max-width: 992px) {
  .tg-container{
    width: 100%;
  }
  .thumb-grid li {
    margin: 4px;
    height: 200px;
    width: 49%;
  }
}

@media (max-width: 768px) {

  .thumb-grid li {
    margin: 2px 4px;
    height: 180px;
  }

}

@media (max-width: 680px) {

  .thumb-grid li {
    margin: 2px 4px;
    width: 48%;
    height: 220px;
  }

}

@media (max-width: 480px) {

  .thumb-grid li {
    margin: 10px;
    width: 93%!important;
    height: 200px;
  }


}


