
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circle:before { content: '\e806'; } /* '' */
.icon-cancel-1:before { content: '\e807'; } /* '' */
.icon-cancel-circle-1:before { content: '\e808'; } /* '' */
.icon-cancel-2:before { content: '\e809'; } /* '' */
.icon-left-open-1:before { content: '\e80a'; } /* '' */
.icon-right-open-1:before { content: '\e80b'; } /* '' */
.icon-left-open-2:before { content: '\e80c'; } /* '' */
.icon-right-open-2:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80f'; } /* '' */
.icon-angle-circled-left:before { content: '\e810'; } /* '' */
.icon-angle-circled-right:before { content: '\e811'; } /* '' */