@font-face {
  font-family: 'thumbgrid';
  src: url('../font/thumbgrid.eot?38837778');
  src: url('../font/thumbgrid.eot?38837778#iefix') format('embedded-opentype'),
       url('../font/thumbgrid.woff?38837778') format('woff'),
       url('../font/thumbgrid.ttf?38837778') format('truetype'),
       url('../font/thumbgrid.svg?38837778#thumbgrid') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'thumbgrid';
    src: url('../font/thumbgrid.svg?38837778#thumbgrid') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "thumbgrid";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-cancel-circle:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-left-open-mini:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-to-end:before { content: '\e80a'; } /* '' */
.icon-to-start:before { content: '\e80b'; } /* '' */
.icon-shuffle:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-layout:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-heart-empty:before { content: '\e810'; } /* '' */
.icon-star-empty:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-thumbs-down:before { content: '\e814'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */