
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-cancel-circle:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-left-open-mini:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-to-end:before { content: '\e80a'; } /* '' */
.icon-to-start:before { content: '\e80b'; } /* '' */
.icon-shuffle:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-layout:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-heart-empty:before { content: '\e810'; } /* '' */
.icon-star-empty:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-thumbs-down:before { content: '\e814'; } /* '' */
.icon-info-circled:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */