
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-search-1:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e80c'; } /* '' */
.icon-next:before { content: '\e80d'; } /* '' */
.icon-prev:before { content: '\e80e'; } /* '' */